<template>
	 <div class="cart">
	 	<app-cart/>
	 </div>
</template>

<script>
	import AppCart from "@/components/AppCart";
	export default {
		components: {
			AppCart
		}
	}
</script>

<style lang="scss" scoped>
	
</style>