<template>
 	<div class="cart">
    <table>
      <thead>
        <td>Наименование</td>
        <td>Цена</td>
        <td>Количество</td>
        <td></td>
      </thead>
      <tbody v-for="(item, index) in tableData" :key="index" v-if="item.select">
        <td>{{item.name}}</td>
        <td>{{item.num * item.price}} руб</td>
        <td>
          <el-button type="primary" size="mini" @click="plus(index)"><i class="el-icon-plus"></i></el-button>
          <span class="num">{{item.num}}</span>
          <el-button type="primary" size="mini" @click="Min(index)"><i class="el-icon-minus"></i></el-button>
        </td>
        <td>
          <el-button type="danger" icon="el-icon-delete" circle @click="del(index)"></el-button>
        </td>
      </tbody>
    </table>
    <div class="total flex">
      <span class="col">Общая сумма:</span>
      <span class="col flex row jcc">{{totalSum}}</span>
    </div>
    <nuxt-link to="/">
      <el-button type="primary" class="back">Назад</el-button>
    </nuxt-link>
  </div>
</template>

<script>
    import {mapGetters} from "vuex";
    import {mapMutations} from "vuex";
    export default {
      data() {
        return {
          tableData: []
        }
      },
      computed: {
        ...mapGetters([
          "getItems"
        ]),
        totalSum(){
          return this.tableData.reduce((sum, item)=>{return sum + (item.num * item.price)}, 0);
        }
      },
      methods: {
        ...mapMutations([
          "itemPlus",
          "itemMin",
          "deleteItem"
        ]),
        plus(index){
          this.itemPlus(index);
        },
        Min(index){
          this.itemMin(index);
        },
        del(index){
          this.deleteItem(index);
        }
      },
      mounted(){
        this.tableData = this.getItems;
      }
    }
</script>


<style lang="scss" scoped>
	.cart{
    max-width: 768px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    font-size: 24px;
    overflow: auto;
    @media screen and (max-width: 768px) {
      font-size: 16px;
    }
  }
  .back{
    margin-top: 20px;
  }
  td{
    border-bottom: 1px solid #ebeef5;
    padding: 10px;
    padding-right: 30px;
    width: 25%;
  }
  .num{
    margin: 0 10px;
  }
  .total{
    padding: 10px;
  }
</style>