<template>
	  <el-header class="header" height="auto">
	  	<el-row align="center" type="flex" class="aic">
	  		<el-col :span="12">
	  			<div class="logo">
	  				<img src="img/logo.png">
	  			</div>
	  		</el-col>
	  		<el-col :span="12" class="flex aie jce">
	  			<el-badge :value="this.$store.getters.getNumBadge">
	  				<nuxt-link to="cart">
						<i class="cart-icon el-icon-shopping-cart-2"></i>
					</nuxt-link>
				</el-badge>
	  		</el-col>
	  	</el-row>
	  </el-header>
</template>

<script>
	import { mapGetters } from 'vuex';
	export default {
		data(){
			return {

			}
		},	
	}
</script>

<style lang="scss" scoped>
	.header{
		background-color: #E4E7ED;
		height: auto;
		padding: 20px;
	}
	.logo{
		width: 30px;
	}
	.cart-icon{
		font-size: 24px;
	}
</style>