<template>
	<el-main>
		<el-row type="flex">
			<h2>Сортировать</h2>
			<el-row class="tags">
				<el-tag class="tag" type="info" @click="sortPrice">По цене</el-tag>
			</el-row>
		</el-row>
		<el-row class="cards" :gutter="20" type="flex">
			<el-col :span="8" :xs="24" :sm="12" :md="8" class="cards__item" v-for="(item,index) in this.getItems" :key="index">
				<div class="card">
				   <div class="card__img flex jcc aic">
			   		<img :src="'img/'+item.img" class="image">
				   </div>
				   <div style="padding: 14px;">
				     <h2 class="cards__title">{{item.name}}</h2>
				     <p class="cards__price">{{item.price}} руб.</p>
				     <div class="bottom clearfix">
				       <el-button 
					       type="text" 
					       class="button" 
					       v-if="!item.select" 
					       @click="ToCart(index)"
					       >Добавить в корзину
				   		</el-button>
				   		<template v-else>
				   			<el-row type="grid" :gutter="10">
				   				<div class="succsess">Добавлено</div>
				   				<nuxt-link to="/cart">
				   					<div class="succsess">Перейти в корзину</div>
				   				</nuxt-link>
				   			</el-row>
				   		</template>
				     </div>
				   </div>
				</div>
			</el-col>
		</el-row>
	</el-main>
</template>

<script>
	import {mapGetters} from "vuex"
	import {mapMutations} from "vuex"
	export default {
		data(){
			return {
				goods: []
			}
		},
		computed: {
			...mapGetters([
				"getItems"
			]),
		},
		methods: {
			...mapMutations([
				"addToCart",
				"priceSort"
			]),
			ToCart(index){
				this.addToCart(index);
			},
			sortPrice(){
				this.priceSort();
			}
		},
	}
</script>

<style lang="scss" scoped>
	.cards{
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		margin-top: 20px;
		&__item{
			margin-bottom: 20px;
		}
		&__title{
			text-transform: uppercase;
		}
		&__price{
			font-size: 18px;
			margin: 10px 0;
		}
	}
	.card{
		flex-basis: 400px;
		box-shadow: 0px 0px 8px -3px;
		padding: 20px;
		border-radius: 5px;
		&__img{

		}
	}
	.succsess{
		color: #67C23A;
	}
	.tags{
		margin-left: 10px;
	}
	.tag{
		cursor: pointer;
	}
</style>