.slide-enter{
  transform: translateX(-100vw);
}
.slide-enter-active{
  animation: slide 0.3s;
}
.slide-leave-active{
  animation: slide 0.3s reverse;
}
@keyframes slide {
	0% {
		transform: translateX(-100vw);
	}
	100% {
		transform: translateX(0px);
	}
}

.flex{
	display: flex;
	flex-wrap: wrap;
}
.aic{
	align-items: center;
}
.jce{
	justify-content: flex-end;
}
.jcc{
	justify-content: center;
}
.col{
	flex: 1;
}
